body {
    font-family: 'Audiowide';
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.header {
  text-align: center;
  color:azure;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1;
  overflow: hidden;
  transition: min-height 0.3s ease;
  text-align: center;
}
.header h1 {
  font-size: 20px;
  margin: 0px auto;
  padding-top: 10px;
  color:azure;
  text-shadow: 8px 6px 20px #3767a5;
  } 

.header h2 {
  font-family : 'Space Mono', monospace;
  color: #ffffff;
  text-shadow: 2px 2px 10px #8e7adc;
  margin: 10px 0;
  font-size: 15px;
  padding : 0px 10px;
}
.header p {
  font-size: 13px;
  margin: 0;
} 
.header a {
  color: #5283c3;
  text-shadow: 2px 2px 10px #8e7adc;
}
.header .download-resume {
  position: absolute;
  right: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #2261ff;
}

/* Hide header elements before hover */
.header h2,header p, .header a, .header .download-resume {
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.header:hover h2, .header:hover p, .header:hover a, .header:hover .download-resume {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}



html, body {
  margin: 0;
  height: 100%;
}

.slides {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  :-webkit-scrollbar {
    display: none;
  
  }
}

.slide {
  border-radius: 50px;
  min-height: 100vh;
  height: auto;
  margin: 0px auto;
  scroll-snap-align: start;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  scroll-snap-stop: always;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: px;
  padding: 30px;
  width: 80%;

  h2 {
    font-family: 'Space Mono', monospace;
    color: #5283c3;
    text-shadow: 2px 2px 10px #8e7adc;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Space Mono', monospace;
    color: #ebe125;
    text-shadow: 2px 2px 10px #8e7adc;
    margin-bottom: 10px;
  }
    
}

.summary { background: #0f172a; color: #e5e7eb; }
.skills { background: #020617; color: #a5b4fc; }
.experience { background: #000; color: #38bdf8; }
.music { background: #020617; color: white; }
.volunteer { background: #0f172a; color: #34d399; }
.achievements { background: #000; color: #f87171; }
